
/*Component Name: Header -- CSS on waqas picture*/
.waqasPic{
    height: 80px;
    width: 80px;
    padding-top: 10px;
    border-radius: 50px;
}

.table td{
    border:1px solid;
    background-color: azure;
}

.btn{
    width:200px;
}

.loginChange{
    visibility: hidden;
}

.display{
    display: none;
}